/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2015, 2:36:27 PM
    Author     : vuk
*/

@font-face {
    font-family: 'GameFont';
    src: url('../res/font/Carton_Six.ttf'); /* IE9 Compat Modes */		/* by Jayvee Enaguas, 100% free */
    src: url('../res/font/Carton_Six.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'ControlsFont';
    src: url('../res/font/Info.ttf'); /* IE9 Compat Modes */
    src: url('../res/font/Info.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'DinproBold';
    src: url('../res/font/DINPro-Bold.otf'); /* IE9 Compat Modes */
    src: url('../res/font/DINPro-Bold.otf')  format('truetype'); /* Safari, Android, iOS */
}

body {
	color: white;
	font-family: DinproBold;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div.gamediv {
    width: 100%;
    height: 100%;
    display: none;
}
#dMainMenu {
	background-image: url('../res/flipartB/gradient-mainmenu.png');
	background-size: 100%;
}
div.menu {
    margin-top: 50px;
    width: 100%;
    bottom: 30px;
    font-family: 'GameFont', sans-serif;
}
div.menu, div.menu a  {
    text-decoration: none;
    color: #656273;
    font-size: 53px;
    text-shadow: 0 5px 2px rgba(193, 193, 150, 0.73);
}
div.menu a.play{
	visibility: hidden;
	color: white;
	Qtext-shadow: -3px -3px 0 #656273, 1px -3px 0 #656273, -3px 3px 0 #656273, 3px 3px 0 #656273;	
}
img.logosmall {
    width: 100px;
}
#dBackground{
	position: absolute;
	width: 100%;
	height: 100%;
}
body {
	background-image: url("../res/flipartB/flipico-background.png");
	background-repeat: repeat;
}
#dGameWindow {
    position: relative;
	//overflow-y: hidden;
    /*
	background-color: white;
    background-image: url('../res/flipart/papertile.jpg');
    border-style: solid;
	*/
    z-index: 2;
}

div.logo img {
	height: 100%;
}

div.menu img:hover, div.menu a:hover, #dGameControls a:hover {
    cursor: pointer;
    color: #004880;
}

#dWelcome .logo {
	height: 40%;
}
#dWelcome div.menu ~ div.menu{
	display: none;
}

#dChoice div.logo {
	height: 40%;
}
#dChoice div.level {
	float: left;
	color: white;
	font-family: 'ControlsFont', 'Comic Sans MS', sans-serif;
	/* #e0fa33 , #e8d15d */
	text-shadow: -3px -3px 0 #656273, 1px -3px 0 #656273, -3px 3px 0 #656273, 3px 3px 0 #656273;	
}
#dChoice div.level h1 {
	margin: 0;
}
#dChoice div.topmenu{
	position: absolute;
	width: 100%;
}
#dChoice div.topmenu img {
	max-width: 30%;
}
#dGalleryContainer {
	background-image: url('../res/flipartB/gradient-galleries.png');
	background-size: 100%;
	width:80%;
}
#dGalleryContainer>div:first-child {
	padding: 20px 0 30px 0;
}
#dGalleries {
    padding: 5px;   
    height: 230px;
    overflow-y: auto;
    overflow-x: auto;
}
#dGalleries div.galleryImage{
    float: left;
	position: relative;
    width: 144px;
    height: 144px;
    margin: 5px;
    border: 2px solid #C1C0C7;
}
#dGalleries div.galleryImage:hover {
    border: #656273 2px solid;
}
#dGalleries div.galleryImage.selected {
    border: #656273 2px solid;
}
#dGalleries img, .dbuy {
    width: 100%;
    height: 100%;
}
#dGalleries div.galleryImage a>div:first-child, .dbuy div.galleryImage >div:first-child{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#dGalleries div.galleryText, .dbuy div.galleryText{
    font-size: 20px;
    font-family: 'ControlsFont', sans-serif;
    color:  white;
	text-shadow: 0px 0px 1px #656273;	

}
#dGalleries div.galleryImage.selected div.galleryText{
    color: #656273;
}
#dGalleries a.disabled::after {
	content: '';
	background-image: url('../res/flipart/lock.png');
    position: absolute;
    bottom: 0px;
	right: 0px;
	width: 64px;
	height: 64px;
	background-size: contain;
	background-repeat: no-repeat;
}

.dbuy .title {
    margin-top: 85px;
    margin-bottom: 50px;
	font-family: "ControlsFont",sans-serif;
    background: rgba(0, 0, 0, 0) linear-gradient(#e8d15d, white) repeat scroll 0 0;
    color: #656273;
}
.dbuy .sampletext {
    font-size: 1.5em;
}
.dbuy img + .sampletext {
    margin-top: 40px;
}

.dbuy .preview {
	margin: 20px 0 0;
}

.dbuy div.galleryImage {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px 10px;
	border: 2px solid white;
	overflow: hidden;
}
.dbuy span.gallery {
    font-style: italic;
}

.dbuy div.preview>div {
	margin-bottom: 10px;
}
#dBuy div.pics img{
	/*width: 150px;*/
	height: 100px;
	margin-right: 10px;
}
#dBuy img.buyingoptions {
	margin-top: 40px;
}
#dBuy form {
	Qfont-family: Helvetica;
	margin: 40px 0;
}
#dBuy img.continue {
	margin: 40px 0 20px 0;
}
#dBuy input[type=radio   ]:not(old){
	width   : 36px;
	height: 36px;
	margin  : 0;
	padding : 0;
	opacity : 0;
}
#dBuy input[type=radio   ]:not(old) + label{
	display      : inline-block;
	margin-left  : -36px;
	padding-left : 50px;
	background   : url('../res/flipartB/check-box-off.png') no-repeat 0 0;
	line-height  : 36px;
	vertical-align: bottom;
}
#dBuy input[type=radio]:not(old):checked + label{
	background : url('../res/flipartB/check-box-on.png') no-repeat 0 0;
}

#dGame {
	position: relative;
}
#dGame div.logo {
	position: absolute;
	height: 100px;
}
#dGameControls {
	width: 150px;
    font-family: 'ControlsFont', sans-serif;
    font-size: 2.0em;
    position: relative;
    top: 0px;
    color: white;
}
#dGameControls a {
    color: inherit;
    text-decoration: none;
}
#dGameControls .top {
}
#dGameControls .top table {
	font-size: 0.7em;
	margin-left: auto;
	margin-right: auto;
}
#dGameControls .top img {
	width: 100px;
}
#dGameControls div.bottom {
    position: absolute;
	width: 100%;
    bottom: 0px;
	margin-left: 10px;
}
#dGameControls div.bottom img {
	width: 140px;
}
#dGameControls > div.background {
	position: absolute; 
	top: -50px; 
	bottom: -50px; 
	right: 0px; 
	z-index: -1;
}
#dGameControls > div.background img {
	height: 100%;
	display: inherit;
	margin-left: auto;
}
#dHistory img {
    width:30px;
}
#dNext {
    display: none;
    opacity: 0;
	color: #e8d15d;
}
#dNext img {
    width: 80px;
}

#dPictureFrame {
    position: relative;
    float: left;
    border: solid white 1px;
}
#dPictureFrame > div {
    position: absolute;
    width: 100%;
    height: 100%;
}
#dPictureFrame div.tile, #dPictureFrame div.block {
    /*background-image: url('/kserver/flipart/image.png'); */
    position: absolute;
}
#dPictureFrame div.block.selected {
    background-color: black;
    opacity: 0.5;
}
#dActions div.flip {
    display: none;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}
#dActions div.flip a {
    color: yellow;
    font-family: comic sans ms;
    font-size: large;
    font-style: italic;
    Qfont-weight: bold;
}
#dActions div.flip img {
    width: 30px;
	cursor: pointer;
}
#dActions div.flip img:hover {
    background-color: rgba(255,255,255,0.3);
}
#dLoading {
    background-color: #e0e0e8;
}
#dLoading >div{
    text-align: center;
    font-family: "ControlsFont", sans-serif;
}
#dSolved {
	display:none;
}

#dSolved div.background {
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}
#dSolved div.front {
	position: relative;
	z-index: 2;
	background-color: #009DD4;
	top: 10%;
}
#dSolved div.front>a:first-child {
	float: left;
}
#dSolved div.front>div:first-of-type {
	clear: both;
	padding-top: 20px;
}
#dSolved div.front div.title img {
	width: 80%;
	margin: 10px 0;
}
#dSolved div.front div.title img:last-child {
	box-shadow: 0px 30px 35px -30px rgba(0,0,0,0.75);
    padding-bottom: 20px;
}
#dSolved div.front img[src*=next] {
	width: 180px;
}

#dSolved div.front>div a:hover {
	text-decoration: none;
	cursor: pointer;
}
#dSolved div.gallery {
	position: absolute;
	bottom: 2px;
	height: 40px;
	margin: 0 5px;
	width: 100%;
}
#dSolved div.gallery a {
	font-weight: bold;
	font-size: 1.3em;
	color: white;
}
#dNewPoints {
	font-size: 25px;
	visibility: hidden;
}
#dNewPoints table{
	margin-left: auto;
	margin-right: auto;
}

#dThumbnail{
	position: absolute;
	top: 30%;
	left: 0px;
}
#dThumbnail img{
	margin-left: 5px;
	width: 140px;
}

div > div.back {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 80%;
}
div > .back a {
	color: #3A5978;
	font-size: 1.5em;
	font-family: "GameFont",sans-serif;
}
div > div.back a:hover {
	color: #e0fa33;
	text-decoration: none;
}
#dInstructions>div:first-child p {
	font-size: 0.7em;
	color: #3A5978;
}
#dInstructions img.logosmall{
	width: 200px;
}

#dInstructions div.tutorial>div {
	clear:both;
	text-align: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 330px;
	font-size: 1.2em;
}
#dInstructions div.tutorial div.step>img{
	width: 45%;
	margin: 0px 20px 30px 10px;
	border: white solid 3px;
	float: left;
}
#dInstructions div.tutorial div.step>div {
	width: 40%;
	display: inline-block;
}
#dInstructions div.tutorial div.step>div img {
	margin: 5px 0 20px 0;
	display: block;
}

#dInstructions div.content img.subtitle {
	width: 80%;
	margin: 40px 0;
}

/*Facebook page styles */
#dFBInfo {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	color: white;
}
#dFBInfo a {
    float: right;
    font-family: 'ControlsFont', 'Comic Sans MS', sans-serif;
    font-weight: bold;
	color: white;
}
#dFBInfo .scoreInfo {
	display:none;
}

#dHighscores div.logo, #dInstructions div.logo, #dBuy div.logo {
	height: 200px;
	position: absolute;
	top: -30px;
	left: 0px;
}
#dHighscores div.content, #dInstructions div.content, #dBuy div.content {
	margin-top: 70px;
	background-image: url('../res/flipartB/gradient-scoreboard.png');
    background-size: cover;
	padding-top: 30px;
	height: 80%;
}
#dHighscores div.hscores{
    Qheight: 65%;
}
#dHighscores table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#dHighscores table td, #dHighscores table th{
    padding: 8px 35px;
    font-family: "ControlsFont",sans-serif;
}
#dHighscores table td.name {
    padding: 8px 40px 8px 0px;
}