/* 
    Created on : Jul 30, 2014, 11:27:09 AM
    Author     : vuk.djapic
*/

section {
    padding-bottom: 50px;
    padding-top: 20px;
}
.navbar-default {
    background-color: rgba(155,155,155,0.2);
    background-image: none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: rgba(66,139,202,0.5);
}
.backed {
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
}
.content-section-a {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

}
.container h2 {
    margin-bottom: 25px;
}
img.smallerimage {
    width: 100%;
}