/* 
    Created on : Jul 30, 2014, 11:27:09 AM
    Author     : vuk.djapic
*/

/* External styles ***************/


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: rgba(66,139,202,0.5);
}

#cboxLoadedContent {
    border-radius: 5px;
}
#cboxClose{
    float: right;
    margin-right: 5px;
}

.navbar-default {
	background-image: linear-gradient(to bottom, #fff 0%, #eee 100%);
}
@media (min-width: 768px) {
	.navbar-default {
		background-color:  rgba(248,248,248,0.2);
		background-image: none;
	}
}

/*************** External styles */


body.scrollingBackground {
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size1: auto auto;
    background-position: center 0px;
}

section {
    padding-bottom: 50px;
    padding-top: 20px;
}
.backed {
    background-color: rgba(255,255,255,0.7);
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.backedColor {
    background-color: rgba(255,255,255,0.7);
}
.content-section-a {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

}
img.smallerimage {
    width: 100%;
}

.navtop {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3.subtitle {
    margin-bottom: 40px;
}

.bmargin {
    margin-bottom: 25px;
}

#navHor  ul{
    float: right;
    position: relative;
    z-index: 95;
}


/*questions*/
dt::after {
	content: "";
	display: block;	
	height: 10px;
	width: 10px;
	Qmargin-bottom: 15px;
}
dt a {
	font-weight: normal;
}
dd::after {
	content: "";
	display: block;	
	height: 10px;
	width: 10px;
	border: solid 2px;
	margin-bottom: 25px;
}
dd1::before {
	content: "";
	display: block;	
	height: 30px;
	width: 200px;
	Qborder-top: solid 1px;				
	margin-top:5px;
}


